<!-- about.ejs -->
<%- include('partials/header') %>
<%-include('partials/loadhead') %>
<body onload="myFunction()" style="margin:0;">

<div id="loader"></div>

<div style="display:none;" id="myDiv" class="animate-bottom">
  <!-- body completo sin incluir head -->
  <link rel="stylesheet" href="css/styles.css">
<div class="container-fluid">
<div class="about-section">
    <h1>Acerca del Sistema</h1>
    <br>
    <p><h4>Desarrollo de un Sistema de Detección de Intrusiones en Redes Locales (SDIRL) basado en Machine Learning y Deep Learning, utilizando modelos de Redes Neuronales Recurrentes (RNN), integrado a un sistema web de entrada y salida (I/O) bajo la arquitectura MERN, orientado al monitoreo, análisis y detección de amenazas para el fortalecimiento de la seguridad informática institucional.</h4></p>
    <br>
    <p style="color: #fff;">El uso intensivo de las tecnologías de información y la conectividad a Internet en la Contraloría Municipal de Barinas ha incrementado la necesidad de fortalecer la seguridad de sus redes locales, debido a los riesgos asociados a accesos no autorizados y ataques cibernéticos. En este contexto, se hace imprescindible la implementación de un sistema que permita vigilar el tráfico de red, detectar comportamientos irregulares y emitir alertas oportunas al personal autorizado, garantizando la protección de la información institucional y la continuidad operativa del organismo.</p>
    <p style="color: #fff;">Este proyecto se orienta a la identificación de intrusiones y comportamientos anómalos en redes de datos, apoyándose en el conjunto de datos NSL-KDD como base para el entrenamiento y validación. Se integran técnicas de Deep Learning, destacando el uso de Long Short-Term Memory (LSTM) como una evolución de los modelos Recurrent Neural Network, junto con el algoritmo K-Nearest Neighbour (KNN), permitiendo realizar clasificaciones tanto binarias como multiclase para diferenciar tráfico normal de múltiples categorías de ataques de red.</p>
    <p style="color: #fff;">El sistema permite que el usuario introduzca los parámetros de análisis a través de una interfaz web desarrollada con ReactJS. A partir de estos datos, el modelo procesa la información y determina el tipo de ataque detectado, proporcionando al usuario detalles relevantes sobre la amenaza identificada. Para la gestión y almacenamiento de la información se utiliza MongoDB, mientras que NodeJS funciona como el marco de trabajo del backend, garantizando la comunicación entre la interfaz y los modelos de detección.</p>
    <p style="color: #fff;">El sistema ha sido estructurado para operar correctamente en distintos entornos y dispositivos, apoyándose en mecanismos de gestión de sesiones y cookies para el control de acceso. Una vez que el usuario es validado, el acceso se mantiene activo sin requerir la reintroducción constante de credenciales, siendo necesaria una nueva autenticación únicamente cuando se ejecuta el cierre de sesión. Adicionalmente, se incorpora un esquema de autenticación federada mediante Google OAuth 2.0, y los datos de identificación de los usuarios se resguardan en MongoDB utilizando salted hash, fortaleciendo la seguridad y confidencialidad de la información almacenada.</p>
  </div>
</div>
  <br><br><br>
  <h1 style="text-align:center">Equipo Encargado del Sistema</h1>
<div class="container-fluid">
  <div class="row" style="color: #fff;">
  <div class="card card-about text-center" style="width: 22rem; margin: 0px 30px 30px 30px; background-color: #2264a6">
    <img class="card-img-top" src="css/abdiel.PNG" alt="abdiel">
    <div class="card-body"  >
      
      <h4 class="card-title">Abdiel Asad Urbina Páez</h4>
      <!-- <h5 class="card-title">21BD5A0511</h5> -->
      <h6 class="card-title">Estudiante Universitario</h6>
      <p class="card-text">Soy estudiante de Ingeniería en Informática en la UNELLEZ, con interés en el desarrollo web y experiencia en la realización de proyectos académicos relacionados con mi carrera, trabajando principalmente en equipos colaborativos. Tengo un fuerte enfoque en el frontend, con habilidades en diseño e implementación de interfaces, integración con bases de datos y APIs, y un interés constante en aprender nuevas tecnologías y mejorar mis competencias profesionales.</p>
      <div class="container-fluid">
        <a href="https://linktr.ee/fleetwood.vzla" target="_blank"><i class="social-icon fas fa-regular fa-globe fa-2x" style="color: #fff;"></i></a>
        <a href="https://github.com/Abdoesntwork1205" target="_blank"><i class="social-icon fab fa-github fa-2x" style="color: #fff;"></i></a>
        <a href="https://www.linkedin.com/in/abdiel-urbina-4006bb3aa/" target="_blank"><i class="social-icon fab fa-linkedin fa-2x" style="color: #fff;"></i></a>
        <a href="mailto:abdielasad12@gmail.com" target="_blank"><i class="social-icon fas fa-envelope fa-2x" style="color: #fff;"></i></a>
        </div>
    </div>
  </div>


  <div class="card card-about text-center" style="width: 22rem; margin: 0px 30px 30px 30px; background-color: #2264a6">
    <img class="card-img-top" src="css/edwin.JPG" alt="edwin">
    <div class="card-body"  >
      <h4 class="card-title">Edwin Jesús Aguilar Salazar</h4>
      <!-- <h5 class="card-title">21BD5A0512</h5> -->
      <h6 class="card-title">Coordinador Informático</h6>
      <p class="card-text">Profesional con amplia experiencia en informática, parte del equipo encargado de la Contraloría Municipal de Barinas, especializado en gestión de redes y sistemas de información. Durante el proyecto, se destacó por su orientación y apoyo constante, supervisando la documentación de redes y proporcionando los datos necesarios para la realización de sondeos y pruebas de machine learning. Su experiencia y guía fueron clave para garantizar la calidad, confiabilidad y aplicación práctica del sistema desarrollado.</p>
      <div class="container-fluid">
        <a href="https://github.com/szLuis" target="_blank"><i class="social-icon fab fa-github fa-2x" style="color: #fff;"></i></a>
        <a href="https://www.linkedin.com/in/edwin-aguilar-b85891348/" target="_blank"><i class="social-icon fab fa-linkedin fa-2x" style="color: #fff;"></i></a>
        <a href="mailto:cmunicipalbarinas2022@gmail.com" target="_blank"><i class="social-icon fas fa-envelope fa-2x" style="color: #fff;"></i></a>
        </div>
    </div>
  </div>

  <div class="card card-about text-center" style="width: 22rem; margin: 0px 30px 30px 30px; background-color: #2264a6">
    <img class="card-img-top" src="css/colaboracion.JPG" alt="colaboracion">
    <div class="card-body"  >
      <h4 class="card-title">¿Estás interesado en colaborar?</h4>
      <!-- <h5 class="card-title">21BD5A0511</h5> -->
      <h6 class="card-title">¡Necesitamos tu ayuda!</h6>
      <p class="card-text">Se busca asistencia para la personalización y optimización del sistema, incluyendo aspectos como la adaptación del entorno a necesidades específicas, la implementación de funcionalidades dinámicas, la gestión y edición de usuarios, así como la elaboración de documentación técnica que permita entrenar la máquina con otros protocolos de detección y ampliar sus capacidades de análisis. Esto con el fin de mejorar la eficiencia y la escalabilidad del sistema. Comúnicate con nosotros en los siguientes enlaces: </p>
      <div class="container-fluid">
        <a href="https://github.com/Abdoesntwork1205" target="_blank"><i class="social-icon fab fa-github fa-2x" style="color: #fff;"></i></a>
        <a href="https://www.linkedin.com/in/abdiel-urbina-4006bb3aa/" target="_blank"><i class="social-icon fab fa-linkedin fa-2x" style="color: #fff;"></i></a>
        <a href="mailto:abdielasad12@gmail.com" target="_blank"><i class="social-icon fas fa-envelope fa-2x" style="color: #fff;"></i></a>
        </div>
    </div>
  </div>
  </div>
</div>
</div>

<%- include('partials/footer') %>
</div>

<script>
var myVar;

function myFunction() {
  myVar = setTimeout(showPage, 200);
}
<%- include('partials/loadfoot') %> 
