<!-- features.ejs -->
<%- include('partials/header') %>




  <%-include('partials/loadhead') %>
<body onload="myFunction()" style="margin:0;">

<div id="loader"></div>

<div style="display:none;" id="myDiv" class="animate-bottom">
  <!-- body completo sin incluir head -->
    <!-- Características -->

    <section class="white-section" id="features">
      <div class="container-fluid">
        <div class="row" style="color: #393E46;">
          <div class="feature-box col-lg-4">
            <i class="icon fa-solid fa-clock fa-4x"></i>
            <h3 class="feature-title">Procesamiento de Tráfico de Red</h3>
            <p class="feature-desc">El sistema analiza el tráfico de la red y transforma los datos en patrones específicos, que sirven como referencias para detectar anomalías, ataques o comportamientos inusuales, facilitando un monitoreo más preciso y efectivo de la actividad de la red.</p>
          </div>
  
          <div class="feature-box col-lg-4">
            <i class="icon fa-solid fa-brain fa-4x"></i>
            <h3 class="feature-title">Sistema Preventivo</h3>
            <p class="feature-desc">El sistema actúa de acuerdo con la amenaza detectada, ejecutando medidas para responder y proteger el sistema frente a posibles ataques.</p>
          </div>
  
          <div class="feature-box col-lg-4">
            <i class="icon fa-solid fa-masks-theater fa-4x"></i>
            <h3 class="feature-title">Reporte de Amenazas</h3>
            <p class="feature-desc">El sistema registra y documenta las amenazas detectadas, generando informes y bitácoras que permiten analizar incidentes y mantener un historial de seguridad.</p>
          </div>
          <div class="feature-box col-lg-4">
            <i class="icon fa-sharp fa-solid fa-book-skull fa-4x"></i>
            <h3 class="feature-title">Clasificación de Amenazas</h3>
            <p class="feature-desc">El sistema clasifica las amenazas mediante la comparación con firmas predefinidas, lo que permite identificar el tipo de ataque y determinar la respuesta más adecuada.</p>
          </div>
          <div class="feature-box col-lg-4">
            <i class="icon fa-solid fa-users-rays fa-4x"></i>
            <h3 class="feature-title">Detección de Anomalías</h3>
            <p class="feature-desc">El sistema compara las firmas de red ingresadas con las firmas de tráfico normal previamente registradas, permitiendo identificar ataques desconocidos (zero-day) y comportamientos fuera de lo habitual.</p>
          </div>
          <div class="feature-box col-lg-4">
            <i class="icon fa-brands fa-searchengin fa-4x"></i>
            <h3 class="feature-title">Coincidencia de Firmas</h3>
            <p class="feature-desc">El sistema compara la firma de entrada con los patrones de amenazas previamente almacenados, facilitando la identificación precisa de posibles ataques conocidos.</p>
          </div>
        </div>
      </div>
    </section>
  
  
   
  
  
    <!-- Press -->
  
  
  
  
  
    <%- include('partials/footer') %>
</div>

<script>
var myVar;

function myFunction() {
  myVar = setTimeout(showPage, 200);
}
<%-include('partials/loadfoot') %>