<!-- lstm_table.ejs -->
<%-include('partials/header') %>



<%-include('partials/loadhead') %>
<body onload="myFunction()" style="margin:0;">

<div id="loader"></div>

<div style="display:none;" id="myDiv" class="animate-bottom">
  <!-- body completo sin incluir head -->
  <div class="row">
    <div class="container-fluid">
      <div class="login-box">
        <h1>TABLA DE CLASIFICACIÓN BINARIA CON LONG SHORT-TERM MEMORY (LSTM)</h1>
        </div>
        <table class="table table-striped" style="color: #fff;">
            <thead>
              <tr>
                <th scope="col"> </th>
                <th scope="col">PRECISIÓN</th>
                <th scope="col">EXHAUSTIVIDAD</th>
                <th scope="col">PUNTUACIÓN F-1</th>
                <th scope="col">SOPORTE</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">DOS</th>
                <td>1.00</td>
                <td>0.97</td>
                <td>0.98</td>
                <td>6822</td>
              </tr>
              <tr>
                <th scope="row">NORMAL</th>
                <td>0.94</td>
                <td>0.97</td>
                <td>0.96</td>
                <td>9217</td>
              </tr>
              <tr>
                <th scope="row">PROBE</th>
                <td>0.96</td>
                <td>0.98</td>
                <td>0.97</td>
                <td>2298</td>
              </tr>
              <tr>
                <th scope="row">R2L</th>
                <td>0.85</td>
                <td>0.84</td>
                <td>0.85</td>
                <td>953</td>
              </tr>
              <tr>
                <th scope="row">U2R</th>
                <td>0.97</td>
                <td>0.90</td>
                <td>0.94</td>
                <td>2125</td>
              </tr>
              <tr>
                <th scope="row">EXACTITUD</th>
                <td>
                </td>
                <td></td>
                <td>0.96</td>
                <td>21415</td>
              </tr>
              <tr>
                <th scope="row">PROMEDIO MACRO</th>
                <td>0.94</td>
                <td>0.93</td>
                <td>0.94</td>
                <td>21415</td>
              </tr>
              <tr>
                <th scope="row">PROMEDIO PONTERADO</th>
                <td>0.96</td>
                <td>0.96</td>
                <td>0.96</td>
                <td>21415</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>
<%-include('partials/footer') %>
</div>

<script>
var myVar;

function myFunction() {
  myVar = setTimeout(showPage, 200);
}
<%-include('partials/loadfoot') %>