<!-- registers.ejs -->
<%- include('partials/header') %>






<%-include('partials/loadhead') %>
<body onload="myFunction()" style="margin:0;">

<div id="loader"></div>

<div style="display:none;" id="myDiv" class="animate-bottom">
  <!-- body completo sin incluir head -->
  <div class="row">
    <div class="login-box">
      <h1>Registro de Usuario</h1>
      <form action="/register" method="post">
      <div class="textbox">
        <i class="fas fa-user login-icons"></i>
        <input type="email" placeholder="Usuario (E-mail)..." name="username">
      </div>
      <div class="textbox">
        <i class="fas fa-lock login-icons"></i>
        <input type="password" placeholder="Contraseña..." name="password">
      </div>
      <button type="submit" class="btn btn-success">Crear</button></form>
      <a class="btn btn-block btn-social btn-google btn-dark" style="text-align: center;background-color: #dd4b39; #dd4b39" href="/auth/google" role="button">
        <i class="fab fa-google"></i>
        Crear con Google
      </a>
      <a href="/login" style="color: white;float: right;font-size: small">¿Ya tienes una cuenta? Inicia sesión aquí.</a>
      
        </div>
        </div>
    </div>
    <%-include('partials/footer') %>
</div>

<script>
var myVar;

function myFunction() {
  myVar = setTimeout(showPage, 200);
}
<%-include('partials/loadfoot') %>