<!-- secrets.ejs -->
<%- include('partials/header') %>
<%-include('partials/loadhead') %>
<body onload="myFunction()" style="margin:0;">

<div id="loader"></div>

<div style="display:none;" id="myDiv" class="animate-bottom">
  <div class="container-fluid">
    <div class="row" style="color: #fff;">
  <div>
    <h2>
      Tu predicción de fila aleatoria está lista. ¡Haz clic en el botón de abajo para ver el resultado!
    </h2>
    <br>
    <br>
    <br>
  </div>
  <div>
    <br>
    <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/secrets_2" class="btn btn-dark" style="background-color: rgb(223, 130, 9);">AQUÍ ESTÁN LOS RESULTADOS...</a>
</div>
</div>
</div>
<script>
var myVar;

function myFunction() {
  myVar = setTimeout(showPage, 8000);//Según el sistema, aproximadamente 50 segundos.
}

<%-include('partials/loadfoot') %>

